/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
main{
	padding: 90px 15px 0;
}

.footer {
  background-color: #000;
	color: #fff;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.card{
	box-shadow: 0 0 10px #D0D0D0;
}

.navbar{
	box-shadow: 0 0 10px #D0D0D0;
}
